################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/KnockoutInfo/v16
/.vs/KnockoutInfo/config
/.vs
